
<div>
  <form action="/result" method="get">
    <div class="form-group">
      <p>Enter the height, width, depth and weight of your parcel.</p>
      <label for="height">Enter package height:</label>
      <input id="height" name="height" class="form-control" type="number">
      <label for="width">Enter package width:</label>
      <input id="width" name="width" class="form-control" type="number">
      <label for="depth">Enter depth:</label>
      <input id="depth" name="depth" class="form-control" type="number">
      <label for="weight">Enter weight in pounds:</label>
      <input id="weight" name="weight" class="form-control" type="number">
      <p>Use your googly skills to find the distance in miles:</p>
      <label for="distance">Enter distance in miles:</label>
      <input id="distance" name="distance" class="form-control" type="number">
      <p>Select your shipping speed:</p>
      <select class="" name="option">
        <option value="1">Standard</option>
        <option value="15">Overnight</option>
        <option value="10">Express</option>
      </select>
    </div>
    <button type="submit" class="btn">Submit</button>
  </form>
  <h1>Your cost to ship:</h1>
  <h2>$<%= @cost %></h2>
</div>
